/*
1. Main
2. Mission
*/

/* Main */

main {
    width: 60%;
    min-height: 17em;
}

main > a, main > a:visited {
    text-decoration: none;
    color: var(--blue);
}

main > a:hover {
    position: relative;
    text-decoration: underline;
    color: var(--gold);
    animation: slideRight 0.5s linear;
}

/* End Main */
