/*
1. Body
2. Header
3. Main
4. Footer
*/


:root {
    --blue: #0071bc;
    --light-blue: #00f6ed;
    --gold: #d2bb5c;
    --dark-blue: #384463; 
    --light-gray: #f1f1f1;
}

/* Body */

body {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, nav > a {
    font-family: 'Mukta', sans-serif;
}

b {
    text-decoration: none;
    color: var(--blue);
}

h1 {
    position: relative;
    animation: fadeInUp 1.5s ease;
    margin-bottom: 1em;
    margin-top: 2em;
}

/* End Body */


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
    background-color: var(--light-gray);
    border-radius: 0 0 1em 1em;
    position: sticky;
    top: 0;
}


header > a > img {
    position: relative;
    animation: slideRight 0.5s linear;
}
header > a > img:hover {
    animation: fadeOutIn 0.5s linear;
}

nav {
    display: flex;
    width: 20em;
    justify-content: space-around;
}

nav > a, nav > a:visited {
    position: relative;
    text-decoration: none;
    color: var(--blue);
}
nav > a:hover {
    color: var(--dark-blue);
    animation: slideDown 0.25s linear;
}

nav a.selected, nav a.selected:hover {
    color: var(--gold);
}


/* End Header */


/* Main */

main {
    width: 80%;
    min-height: 21em;
    margin: auto;
}

/* End Main */


/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue);
    border-radius: 1em 1em 0 0;
    color: var(--light-gray);
    padding: 0.5em 0;
}

footer > p {
    width: 25%;
}

/* End Footer */


/* Animations */

@keyframes slideDown {
    0% {
        top: 0em;
    }
    50% {
        top: 0.25em;
    }
    100% {
        top: 0em;
    }
}

@keyframes slideRight {
    0% {
        left: 0em;
    }
    50% {
        left: 1em;
    }
    100% {
        left: 0em;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0%;
        top: 1em;

    }
    to {
        opacity: 100%;
        top: 0em;
    }
}

@keyframes fadeOutIn {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

/* End Animations */